[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "nlMS"]
	path = nlMS
	url = https://github.com/cran/nlMS
	shallow = true
	registered = true
